body {
    margin: 0 auto;
}


.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: white;
    background-color: rgb(31, 31, 177);
    text-align: center;
    padding: 5px;
    margin-top: 0;

}

.dashboard-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* display: grid;
    grid-auto-flow: column; */
}

/* will need breakpoint at 730px */
.dashboard-column {
    margin-left: 150px;
    min-width: 730px;

}

.dashboard-top {
    border: 3px solid lightgray;
    padding: 5px;
    /* width: 150px; */

}

.card-container {
    width: 600px;
    height: 200px;
    /* height given for illustration */
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.card {
    background:rgb(31, 31, 177);
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
}