* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
}


.title {
    font-weight: 800;
    color: white;
    background-color: rgb(31, 31, 177);
    background-image: linear-gradient(to right,  rgb(31, 31, 177) , rgb(45, 185, 231));
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

.search-column {
    margin-left: 10px;
    min-width: 277px;
}

input {
    width: 100%;
    line-height: 27px;
}

button {
    color: white;
    background-color: rgb(45, 189, 236);
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 5px;
}

.dashboard-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* display: grid;
    grid-auto-flow: column; */
}

/* min width needed to push border right wfbox */
.dashboard-column {
    margin-left: 58px;
    min-width: 730px;
}

.dashboard-top {
    border: 3px solid lightgray;
    padding: 5px;
    /* width: 150px; */

}

.dashboard-top > P {
    font-weight: bold;
}

.card-container {
    width: 730px;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.card {
    background: rgb(31, 31, 177);
    margin: 4px;
    flex: 0 1 calc(20% - 8px);
    /* <-- adjusting for margin */
}

@media only screen and (max-width: 868px) {
    .dashboard-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .dashboard-column {
        margin-left: 10px; 
        /* min-width: 430px;   */
    }

    .dashboard-top {
        margin-top: 46px;
    }

    .search-column {
        text-align: center;
        width: 70%;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        /* position: relative; */
    }

    .card {
        background: rgb(31, 31, 177);
        /* flex: none;
        height: 166px;
        width: 150px; */
    }

}